In [8]:
# –Ø—á–µ–π–∫–∞ 1: –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫ –∏ –Ω–∞—Å—Ç—Ä–æ–π–∫–∞ –æ–∫—Ä—É–∂–µ–Ω–∏—è
from typing import List
import os
import json
import requests
import re
from dotenv import load_dotenv
import pandas as pd
import sqlite3
import psycopg2
from psycopg2.extras import RealDictCursor
from IPython.display import display, Markdown

# –ó–∞–≥—Ä—É–∑–∫–∞ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö –æ–∫—Ä—É–∂–µ–Ω–∏—è
dotenv_path = os.path.join("..", "src\.env")
load_dotenv(dotenv_path)


print("–ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –∏ –æ–∫—Ä—É–∂–µ–Ω–∏–µ –Ω–∞—Å—Ç—Ä–æ–µ–Ω–æ")

–ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –∏ –æ–∫—Ä—É–∂–µ–Ω–∏–µ –Ω–∞—Å—Ç—Ä–æ–µ–Ω–æ

In [9]:
def execute_sql_query(sql_query):
    """
    Executes an SQL query in Postgres database and returns the results in a dictionary.

    Parameters
    ----------
    sql_query : str
        SQL query string.

    Returns
    -------
    dict
        A dictionary with two keys
        - 'result' as a pandas DataFrame containing the query results,
        - 'error' with an error message if the execution failed.
    """
    host = os.getenv("PG_STUDENT_HOST")
    port = os.getenv("PG_STUDENT_PORT")
    dbname = os.getenv("PG_STUDENT_DBNAME")
    user = os.getenv("PG_STUDENT_USER")
    password = os.getenv("PG_STUDENT_PASSWORD")

    # –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö –æ–∫—Ä—É–∂–µ–Ω–∏—è
    env_vars = {
        "PG_STUDENT_HOST": host,
        "PG_STUDENT_PORT": port,
        "PG_STUDENT_DBNAME": dbname,
        "PG_STUDENT_USER": user,
        "PG_STUDENT_PASSWORD": password,
    }
    missing = [name for name, value in env_vars.items() if not value]
    if missing:
        return {
            "result": None,
            "error": f"Missing environment variables: {', '.join(missing)}",
        }

    conn = None
    cursor = None
    try:
        port = int(port)
        conn = psycopg2.connect(
            host=host, port=port, dbname=dbname, user=user, password=password
        )
        cursor = conn.cursor(cursor_factory=RealDictCursor)
        cursor.execute(sql_query)

        # –ü–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫
        columns = [desc[0] for desc in cursor.description] if cursor.description else []
        rows = cursor.fetchall() if cursor.description else []

        # –°–æ–∑–¥–∞—ë–º DataFrame
        df = pd.DataFrame(rows, columns=columns) if columns else pd.DataFrame()

        return {"result": df, "error": None}

    except Exception as e:
        return {"result": None, "error": str(e)}

    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

In [10]:
query = """
    SELECT 
        table_name, 
        column_name, 
        data_type
    FROM information_schema.columns
    WHERE 
        table_schema = 'public'
        AND table_name IN (
            'categories',
            'countries',
            'merchants',
            'order_items',
            'orders',
            'products',
            'shipping_carriers',
            'users'
        )
    ORDER BY table_name, ordinal_position;
"""

result = execute_sql_query(query)

In [11]:
print(result)

{'result':            table_name          column_name                    data_type
0          categories                   id                      integer
1          categories                 name            character varying
2          categories   parent_category_id                      integer
3           countries                   id                      integer
4           countries                 name            character varying
5           merchants                   id                      integer
6           merchants         country_code                      integer
7           merchants               status            character varying
8           merchants        merchant_name            character varying
9           merchants              address                         text
10          merchants          website_url            character varying
11          merchants         phone_number            character varying
12          merchants                email            character varying
13          merchants             logo_url            character varying
14          merchants           created_at  timestamp without time zone
15        order_items                   id                      integer
16        order_items             order_id                      integer
17        order_items           product_id                      integer
18        order_items             quantity                      integer
19        order_items                price             double precision
20        order_items                  sum             double precision
21             orders                   id                      integer
22             orders              user_id                      integer
23             orders               status            character varying
24             orders           created_at  timestamp without time zone
25             orders            total_sum             double precision
26             orders     shipping_address                         text
27             orders      billing_address                         text
28             orders       payment_method            character varying
29             orders       payment_status            character varying
30             orders  shipping_carrier_id                      integer
31           products                   id                      integer
32           products                 name            character varying
33           products          description                         text
34           products                brand            character varying
35           products                color            character varying
36           products               weight             double precision
37           products           dimensions            character varying
38           products               rating                      integer
39           products          merchant_id                      integer
40           products                price                      integer
41           products           created_at  timestamp without time zone
42           products          category_id                      integer
43  shipping_carriers                   id                      integer
44  shipping_carriers                 name            character varying
45  shipping_carriers         tracking_url            character varying
46              users                   id                      integer
47              users            full_name            character varying
48              users                email            character varying
49              users             username            character varying
50              users         phone_number            character varying
51              users        last_login_at  timestamp without time zone
52              users           avatar_url                         text
53              users           created_at  timestamp without time zone
54              users         country_code                      integer, 'error': None}

In [12]:
def build_dbml_schema() -> str:
    """
    Generates a DBML schema for specified tables
    in a PostgreSQL database schema using a static SQL query.
    This version formats the output as per the provided DBML schema example,
    replacing 'double precision' data type with 'double'
    for dbdiagram.io compatibility.

    Parameters
    ----------
    table_names : list
        List of table names for which the DBML schema should be generated.

    Returns
    -------
    str
        DBML schema as a string for the specified tables in the schema.
    """
    tables_json = os.getenv("TABLES", "[]")
    table_names = json.loads(tables_json)
    if not table_names:
        return ""

    # –§–æ—Ä–º–∏—Ä—É–µ–º –±–µ–∑–æ–ø–∞—Å–Ω—ã–π —Å–ø–∏—Å–æ–∫ –∏–º—ë–Ω —Ç–∞–±–ª–∏—Ü (–ø–æ—Å–∫–æ–ª—å–∫—É –æ–Ω —Ñ–∏–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –∏ –∫–æ–Ω—Ç—Ä–æ–ª–∏—Ä—É–µ–º—ã–π)
    # –≠–∫—Ä–∞–Ω–∏—Ä—É–µ–º –æ–¥–∏–Ω–∞—Ä–Ω—ã–µ –∫–∞–≤—ã—á–∫–∏ –Ω–∞ –≤—Å—è–∫–∏–π —Å–ª—É—á–∞–π, —Ö–æ—Ç—è –≤ –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ –∏—Ö –Ω–µ—Ç
    safe_table_names = []
    for name in table_names:
        if not name.replace("_", "").replace("-", "").isalnum():
            raise ValueError(f"Invalid table name: {name}")
        safe_table_names.append(name)

    table_names_str = "', '".join(safe_table_names)
    query = f"""
        SELECT 
            table_name, 
            column_name, 
            data_type
        FROM information_schema.columns
        WHERE 
            table_schema = 'public'
            AND table_name IN ('{table_names_str}')
        ORDER BY table_name, ordinal_position;
    """

    result = execute_sql_query(query)

    if result["error"] is not None:
        raise RuntimeError(f"Failed to fetch schema: {result['error']}")

    df = result["result"]

    if df.empty:
        return ""

    # –°–æ–ø–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ PostgreSQL ‚Üí DBML (–æ—Å–æ–±–µ–Ω–Ω–æ double precision ‚Üí double)
    def map_type(pg_type):
        pg_type = pg_type.lower()
        if pg_type == "double precision":
            return "double"
        elif pg_type == "integer":
            return "int"
        elif pg_type == "character varying":
            return "varchar"
        elif pg_type == "timestamp without time zone":
            return "timestamp"
        elif pg_type == "timestamp with time zone":
            return "timestamptz"
        elif pg_type == "boolean":
            return "bool"
        elif pg_type == "bigint":
            return "bigint"
        elif pg_type == "smallint":
            return "smallint"
        elif pg_type == "numeric" or pg_type == "decimal":
            return "decimal"
        else:
            return pg_type

    # –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —Ç–∞–±–ª–∏—Ü–∞–º
    dbml_lines = []
    current_table = None

    for _, row in df.iterrows():
        table = row["table_name"]
        column = row["column_name"]
        dtype = map_type(row["data_type"])

        if table != current_table:
            if current_table is not None:
                dbml_lines.append("}")
            dbml_lines.append(f"Table {table} {{")
            current_table = table

        dbml_lines.append(f"  {column} {dtype}")

    if current_table is not None:
        dbml_lines.append("}")

    return "\n".join(dbml_lines)

In [13]:
# –Ø—á–µ–π–∫–∞ 2: –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Å—Ö–µ–º—ã –ë–î (–º–æ–∂–Ω–æ –º–µ–Ω—è—Ç—å –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è)

DB_SCHEMA = build_dbml_schema()
print(DB_SCHEMA)

Table categories {
  id int
  name varchar
  parent_category_id int
}
Table countries {
  id int
  name varchar
}
Table merchants {
  id int
  country_code int
  status varchar
  merchant_name varchar
  address text
  website_url varchar
  phone_number varchar
  email varchar
  logo_url varchar
  created_at timestamp
}
Table order_items {
  id int
  order_id int
  product_id int
  quantity int
  price double
  sum double
}
Table orders {
  id int
  user_id int
  status varchar
  created_at timestamp
  total_sum double
  shipping_address text
  billing_address text
  payment_method varchar
  payment_status varchar
  shipping_carrier_id int
}
Table products {
  id int
  name varchar
  description text
  brand varchar
  color varchar
  weight double
  dimensions varchar
  rating int
  merchant_id int
  price int
  created_at timestamp
  category_id int
}
Table shipping_carriers {
  id int
  name varchar
  tracking_url varchar
}
Table users {
  id int
  full_name varchar
  email varchar
  username varchar
  phone_number varchar
  last_login_at timestamp
  avatar_url text
  created_at timestamp
  country_code int
}

In [14]:
# –Ø—á–µ–π–∫–∞ 3: –§—É–Ω–∫—Ü–∏—è –¥–ª—è –∑–∞–ø—Ä–æ—Å–æ–≤ –∫ YandexGPT
def yandex_gpt_query(user_query):
    """
    Sends a user query to YandexGPT via Yandex Cloud API using an API key.
    """
    API_KEY = os.getenv("YANDEX_API_KEY")
    FOLDER_ID = os.getenv("YANDEX_FOLDER_ID")

    if not API_KEY:
        return {
            "status": "failure",
            "answer": "",
            "error": "Missing environment variable: YANDEX_API_KEY",
        }
    if not FOLDER_ID:
        return {
            "status": "failure",
            "answer": "",
            "error": "Missing environment variable: YANDEX_FOLDER_ID",
        }

    model_uri = f"gpt://{FOLDER_ID}/yandexgpt/latest"
    url = "https://llm.api.cloud.yandex.net/foundationModels/v1/completion"

    headers = {
        "Content-Type": "application/json",
        "Authorization": f"Api-Key {API_KEY}",
        "x-folder-id": FOLDER_ID,
    }

    data = {
        "modelUri": model_uri,
        "completionOptions": {
            "temperature": 0.3,
            "maxTokens": 2000,
        },
        "messages": [
            {
                "role": "system",
                "text": "You are an assistant",
            },
            {
                "role": "user",
                "text": user_query,
            },
        ],
    }

    try:
        response = requests.post(
            url, headers=headers, data=json.dumps(data), timeout=30
        )

        if response.status_code == 200:
            try:
                result = response.json()
                answer_text = result["result"]["alternatives"][0]["message"]["text"]
                return {"status": "success", "answer": answer_text, "error": ""}
            except (KeyError, IndexError, TypeError) as e:
                return {
                    "status": "failure",
                    "answer": "",
                    "error": f"Unexpected response format: {str(e)}",
                }
        else:
            try:
                error_detail = (
                    response.json().get("error", {}).get("message", "Unknown error")
                )
            except Exception:
                error_detail = response.text or f"HTTP {response.status_code}"
            return {
                "status": "failure",
                "answer": "",
                "error": f"API request failed with status {response.status_code}: {error_detail}",
            }

    except requests.exceptions.RequestException as e:
        return {"status": "failure", "answer": "", "error": f"Request failed: {str(e)}"}
    except Exception as e:
        return {
            "status": "failure",
            "answer": "",
            "error": f"Unexpected error: {str(e)}",
        }


print("–§—É–Ω–∫—Ü–∏—è yandex_gpt_query –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∞")

–§—É–Ω–∫—Ü–∏—è yandex_gpt_query –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∞

In [15]:
# –Ø—á–µ–π–∫–∞ 4: –§—É–Ω–∫—Ü–∏—è –≥–µ–Ω–µ—Ä–∞—Ü–∏–∏ –ø—Ä–æ–º–ø—Ç–∞
def generate_prompt(user_query, schema_data):
    """
    Generates a prompt for LLM, including the database schema and the user query.
    """

    system_prompt = """You are a SQL expert that converts natural language questions to PostgreSQL queries.
You MUST use ONLY the tables and columns from the provided database schema.
If the user's request cannot be answered using the available schema, explain why clearly.

DATABASE SCHEMA (DBML format):
{schema_data}

IMPORTANT NOTES ABOUT THE SCHEMA:
- Table "products" has columns: id, name, description, brand, color, weight, dimensions, rating, merchant_id, price, created_at, category_id
- Table "orders" has columns: id, user_id, status, created_at, total_sum, shipping_address, billing_address, payment_method, payment_status, shipping_carrier_id
- Table "users" has columns: id, full_name, email, username, phone_number, last_login_at, avatar_url, created_at, country_code
- Table "categories" has columns: id, name, parent_category_id
- Table "countries" has columns: id, name
- Table "merchants" has columns: id, country_code, status, merchant_name, address, website_url, phone_number, email, logo_url, created_at
- Table "order_items" has columns: id, order_id, product_id, quantity, price, sum
- Table "shipping_carriers" has columns: id, name, tracking_url

RULES:
1. Use only the tables and columns mentioned above
2. For PostgreSQL syntax use CURRENT_DATE for date operations
3. Use proper JOIN syntax with table aliases
4. If the request is impossible with this schema, explain why

EXAMPLES:

1. User: "Show expensive Nike products"
   SQL: "SELECT * FROM products WHERE brand = 'Nike' AND price > 500;"

2. User: "Find USA customers' orders"
   SQL: "SELECT o.* FROM orders o JOIN users u ON o.user_id = u.id JOIN countries c ON u.country_code = c.id WHERE c.name = 'USA';"

3. User: "Count products per category"
   SQL: "SELECT c.name, COUNT(p.id) FROM categories c LEFT JOIN products p ON c.id = p.category_id GROUP BY c.id, c.name;"

4. User: "How old is Dumbledore?"
   Response: {{"sql": "", "error_description": "Cannot answer - the database contains e-commerce data but no information about Harry Potter characters."}}

Now process this request:""".format(
        schema_data=schema_data
    )

    prompt = """User's request: {user_question}

Return your answer as JSON with exactly these fields:
- "sql": the SQL query (empty string if impossible)
- "error_description": explanation why SQL cannot be generated (empty string if SQL is generated)

Return ONLY the JSON, no other text.

Example of valid response when SQL is possible:
{{"sql": "SELECT * FROM products WHERE price > 100;", "error_description": ""}}

Example of valid response when SQL is NOT possible:
{{"sql": "", "error_description": "The request cannot be converted to SQL because..."}}""".format(
        user_question=user_query
    )

    return system_prompt, prompt


print("–§—É–Ω–∫—Ü–∏—è generate_prompt –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∞")

–§—É–Ω–∫—Ü–∏—è generate_prompt –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∞

In [16]:
# –Ø—á–µ–π–∫–∞ 5: –û—Å–Ω–æ–≤–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è natural language to SQL
def natural_language_to_sql(user_query, schema_data):
    """
    Converts a user query from natural language into an SQL query using LLM.
    """

    # Generate prompts using the existing function
    system_prompt, prompt = generate_prompt(user_query, schema_data)

    # Combine system prompt and user prompt for the LLM
    combined_prompt = f"{system_prompt}\n\n{prompt}"

    # Call the LLM
    llm_response = yandex_gpt_query(combined_prompt)

    # Process the response
    if llm_response["status"] == "failure":
        return {
            "sql": "",
            "error_description": f"LLM API error: {llm_response['error']}",
        }

    answer_text = llm_response["answer"].strip()

    # Try to extract JSON from the response
    try:
        # Clean the response - remove markdown code blocks if present
        cleaned_text = re.sub(r"```json\s*|\s*```", "", answer_text)

        # Look for JSON pattern in the response
        json_match = re.search(
            r"\{[^{}]*\{[^{}]*\}[^{}]*\}|\{[^{}]*\}", cleaned_text, re.DOTALL
        )
        if json_match:
            json_str = json_match.group()
            result = json.loads(json_str)

            # Validate the response structure
            if "sql" in result and "error_description" in result:
                # Clean up the SQL query if present
                sql_query = result["sql"].strip() if result["sql"] else ""
                if sql_query and sql_query.startswith('"') and sql_query.endswith('"'):
                    sql_query = sql_query[1:-1]  # Remove surrounding quotes

                return {
                    "sql": sql_query,
                    "error_description": (
                        result["error_description"].strip()
                        if result["error_description"]
                        else ""
                    ),
                }

        # If we get here, JSON parsing failed or structure is wrong
        return {
            "sql": "",
            "error_description": f"Invalid response format from LLM. Expected JSON with 'sql' and 'error_description' fields. Got: {answer_text}",
        }

    except json.JSONDecodeError as e:
        return {
            "sql": "",
            "error_description": f"Failed to parse JSON response: {str(e)}. Full response: {answer_text}",
        }
    except Exception as e:
        return {
            "sql": "",
            "error_description": f"Unexpected error processing LLM response: {str(e)}",
        }


print("–§—É–Ω–∫—Ü–∏—è natural_language_to_sql –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∞")

–§—É–Ω–∫—Ü–∏—è natural_language_to_sql –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∞

In [17]:
# –Ø—á–µ–π–∫–∞ 6: –¢–µ—Å—Ç–æ–≤—ã–µ –≤–æ–ø—Ä–æ—Å—ã –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏
TEST_QUERIES = [
    # –í–∞–ª–∏–¥–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã
    "–ü–æ–∫–∞–∂–∏ –≤—Å–µ –ø—Ä–æ–¥—É–∫—Ç—ã –¥–æ—Ä–æ–∂–µ 1000 —Ä—É–±–ª–µ–π",
    "–ù–∞–π–¥–∏ —Ç–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤",
    "–ü–æ–∫–∞–∂–∏ –≤—Å–µ –∑–∞–∫–∞–∑—ã –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 30 –¥–Ω–µ–π",
    "–°–∫–æ–ª—å–∫–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏–∑ –°–®–ê?",
    "–ü–æ–∫–∞–∂–∏ —Ç–æ–≤–∞—Ä—ã –±—Ä–µ–Ω–¥–∞ Nike —Å —Ä–µ–π—Ç–∏–Ω–≥–æ–º –≤—ã—à–µ 4",
    # –ó–∞–ø—Ä–æ—Å—ã —Å JOIN
    "–ü–æ–∫–∞–∂–∏ –≤—Å–µ –∑–∞–∫–∞–∑—ã —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è—Ö –∏ —Å—Ç—Ä–∞–Ω–∞—Ö",
    "–ù–∞–π–¥–∏ —Ç–æ–≤–∞—Ä—ã –∏ –∏—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–∏",
    "–ü–æ–∫–∞–∂–∏ –º–µ—Ä—á–∞–Ω—Ç–æ–≤ –∏ –∏—Ö —Å—Ç—Ä–∞–Ω—É",
    # –ê–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã
    "–°—É–º–º–∞ –ø—Ä–æ–¥–∞–∂ –ø–æ –º–µ—Å—è—Ü–∞–º",
    "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–æ–≤–∞—Ä–æ–≤ –≤ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏",
    "–°—Ä–µ–¥–Ω–∏–π —á–µ–∫ –∑–∞–∫–∞–∑–æ–≤",
    # –ù–µ–≤–æ–∑–º–æ–∂–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã
    "–°–∫–æ–ª—å–∫–æ –ª–µ—Ç –î–∞–º–±–ª–¥–æ—Ä—É –∏–∑ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–∞?",
    "–ö–∞–∫–∞—è –ø–æ–≥–æ–¥–∞ –≤ –ú–æ—Å–∫–≤–µ?",
    "–ö–æ–≥–¥–∞ —Ä–æ–¥–∏–ª—Å—è –ù–∞–ø–æ–ª–µ–æ–Ω?",
]

print("–¢–µ—Å—Ç–æ–≤—ã–µ –≤–æ–ø—Ä–æ—Å—ã –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω—ã")

–¢–µ—Å—Ç–æ–≤—ã–µ –≤–æ–ø—Ä–æ—Å—ã –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω—ã

In [18]:
# –Ø—á–µ–π–∫–∞ 7: –§—É–Ω–∫—Ü–∏—è –¥–ª—è –∫—Ä–∞—Å–∏–≤–æ–≥–æ –≤—ã–≤–æ–¥–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
def display_query_result(user_query, result):
    """
    –ö—Ä–∞—Å–∏–≤–æ –æ—Ç–æ–±—Ä–∞–∂–∞–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç –æ–±—Ä–∞–±–æ—Ç–∫–∏ –∑–∞–ø—Ä–æ—Å–∞
    """
    display(Markdown(f"### üìù –ó–∞–ø—Ä–æ—Å: `{user_query}`"))

    if result["sql"]:
        display(Markdown("**‚úÖ SQL –∑–∞–ø—Ä–æ—Å —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω:**"))
        display(Markdown(f"```sql\n{result['sql']}\n```"))
    else:
        display(Markdown("**‚ùå SQL –Ω–µ —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω:**"))
        display(Markdown(f"*{result['error_description']}*"))

    display(Markdown("---"))


def test_single_query(user_query, schema_data=DB_SCHEMA):
    """
    –¢–µ—Å—Ç–∏—Ä—É–µ—Ç –æ–¥–∏–Ω –∑–∞–ø—Ä–æ—Å –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç
    """
    print(f"üîç –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é –∑–∞–ø—Ä–æ—Å: {user_query}")
    result = natural_language_to_sql(user_query, schema_data)
    display_query_result(user_query, result)
    return result


def run_test_queries(queries=TEST_QUERIES, schema_data=DB_SCHEMA, limit=None):
    """
    –ó–∞–ø—É—Å–∫–∞–µ—Ç —Ç–µ—Å—Ç–æ–≤—ã–µ –∑–∞–ø—Ä–æ—Å—ã –∏ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
    """
    test_queries = queries[:limit] if limit else queries

    results = []
    for i, query in enumerate(test_queries, 1):
        display(Markdown(f"## –¢–µ—Å—Ç {i}/{len(test_queries)}"))
        result = test_single_query(query, schema_data)
        results.append((query, result))

    return results


print("–§—É–Ω–∫—Ü–∏–∏ –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω—ã")

–§—É–Ω–∫—Ü–∏–∏ –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è –ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω—ã

In [19]:
# –Ø—á–µ–π–∫–∞ 8: –ë—ã—Å—Ç—Ä—ã–π —Ç–µ—Å—Ç –æ–¥–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
# –ú–µ–Ω—è–π—Ç–µ —ç—Ç–æ—Ç –∑–∞–ø—Ä–æ—Å –¥–ª—è —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
quick_test_query = "–ü–æ–∫–∞–∂–∏ —Ç–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤"
quick_result = test_single_query(quick_test_query)

üîç –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é –∑–∞–ø—Ä–æ—Å: –ü–æ–∫–∞–∂–∏ —Ç–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤

### üìù –ó–∞–ø—Ä–æ—Å: `–ü–æ–∫–∞–∂–∏ —Ç–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤`

**‚úÖ SQL –∑–∞–ø—Ä–æ—Å —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω:**

```sql
SELECT * FROM products ORDER BY price DESC LIMIT 5;
```

---

In [20]:
# –Ø—á–µ–π–∫–∞ 9: –ó–∞–ø—É—Å–∫ –≤—Å–µ—Ö —Ç–µ—Å—Ç–æ–≤ (–º–æ–∂–Ω–æ –æ–≥—Ä–∞–Ω–∏—á–∏—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ limit=5)
print("üöÄ –ó–∞–ø—É—Å–∫ –ø–æ–ª–Ω–æ–≥–æ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è...")
all_results = run_test_queries(limit=3)

üöÄ –ó–∞–ø—É—Å–∫ –ø–æ–ª–Ω–æ–≥–æ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è...

## –¢–µ—Å—Ç 1/3

üîç –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é –∑–∞–ø—Ä–æ—Å: –ü–æ–∫–∞–∂–∏ –≤—Å–µ –ø—Ä–æ–¥—É–∫—Ç—ã –¥–æ—Ä–æ–∂–µ 1000 —Ä—É–±–ª–µ–π

### üìù –ó–∞–ø—Ä–æ—Å: `–ü–æ–∫–∞–∂–∏ –≤—Å–µ –ø—Ä–æ–¥—É–∫—Ç—ã –¥–æ—Ä–æ–∂–µ 1000 —Ä—É–±–ª–µ–π`

**‚úÖ SQL –∑–∞–ø—Ä–æ—Å —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω:**

```sql
SELECT * FROM products WHERE price > 1000;
```

---

## –¢–µ—Å—Ç 2/3

üîç –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é –∑–∞–ø—Ä–æ—Å: –ù–∞–π–¥–∏ —Ç–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤

### üìù –ó–∞–ø—Ä–æ—Å: `–ù–∞–π–¥–∏ —Ç–æ–ø-5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤`

**‚úÖ SQL –∑–∞–ø—Ä–æ—Å —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω:**

```sql
SELECT * FROM products ORDER BY price DESC LIMIT 5;
```

---

## –¢–µ—Å—Ç 3/3

üîç –û–±—Ä–∞–±–∞—Ç—ã–≤–∞—é –∑–∞–ø—Ä–æ—Å: –ü–æ–∫–∞–∂–∏ –≤—Å–µ –∑–∞–∫–∞–∑—ã –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 30 –¥–Ω–µ–π

### üìù –ó–∞–ø—Ä–æ—Å: `–ü–æ–∫–∞–∂–∏ –≤—Å–µ –∑–∞–∫–∞–∑—ã –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 30 –¥–Ω–µ–π`

**‚úÖ SQL –∑–∞–ø—Ä–æ—Å —Å–≥–µ–Ω–µ—Ä–∏—Ä–æ–≤–∞–Ω:**

```sql
SELECT * FROM orders WHERE created_at >= CURRENT_DATE - interval '30 days';
```

---

In [21]:
# –Ø—á–µ–π–∫–∞ 10: –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
def analyze_results(results):
    """
    –ê–Ω–∞–ª–∏–∑–∏—Ä—É–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
    """
    total = len(results)
    successful = sum(1 for _, result in results if result["sql"])
    failed = total - successful

    display(Markdown("## üìä –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è"))
    display(Markdown(f"**–í—Å–µ–≥–æ –∑–∞–ø—Ä–æ—Å–æ–≤:** {total}"))
    display(Markdown(f"**–£—Å–ø–µ—à–Ω—ã—Ö:** {successful}"))
    display(Markdown(f"**–ù–µ—É–¥–∞—á–Ω—ã—Ö:** {failed}"))
    display(Markdown(f"**–£—Å–ø–µ—à–Ω–æ—Å—Ç—å:** {successful/total*100:.1f}%"))

    # –ü–æ–∫–∞–∑–∞—Ç—å –ø—Ä–æ–±–ª–µ–º–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã
    if failed > 0:
        display(Markdown("### ‚ùå –ü—Ä–æ–±–ª–µ–º–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã:"))
        for query, result in results:
            if not result["sql"]:
                display(Markdown(f"- `{query}`"))
                display(Markdown(f"  *–û—à–∏–±–∫–∞: {result['error_description']}*"))


# –ó–∞–ø—É—Å–∫ –∞–Ω–∞–ª–∏–∑–∞
analyze_results(all_results)

## üìä –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è

**–í—Å–µ–≥–æ –∑–∞–ø—Ä–æ—Å–æ–≤:** 3

**–£—Å–ø–µ—à–Ω—ã—Ö:** 3

**–ù–µ—É–¥–∞—á–Ω—ã—Ö:** 0

**–£—Å–ø–µ—à–Ω–æ—Å—Ç—å:** 100.0%

In [ ]:
# –Ø—á–µ–π–∫–∞ 11: –ò–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–µ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ
def interactive_test():
    """
    –§—É–Ω–∫—Ü–∏—è –¥–ª—è –∏–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–≥–æ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è –∑–∞–ø—Ä–æ—Å–æ–≤
    """
    display(Markdown("## üéØ –ò–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–µ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ"))
    display(Markdown("–í–≤–æ–¥–∏—Ç–µ –∑–∞–ø—Ä–æ—Å—ã –Ω–∞ –µ—Å—Ç–µ—Å—Ç–≤–µ–Ω–Ω–æ–º —è–∑—ã–∫–µ –¥–ª—è –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –≤ SQL"))

    while True:
        user_input = input("\n–í–≤–µ–¥–∏—Ç–µ –∑–∞–ø—Ä–æ—Å (–∏–ª–∏ 'quit' –¥–ª—è –≤—ã—Ö–æ–¥–∞): ").strip()

        if user_input.lower() in ["quit", "exit", "–≤—ã—Ö–æ–¥"]:
            break

        if user_input:
            result = test_single_query(user_input)

            # –ü—Ä–µ–¥–ª–æ–∂–∏—Ç—å —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç
            save = input("–°–æ—Ö—Ä–∞–Ω–∏—Ç—å —ç—Ç–æ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç? (y/n): ").strip().lower()
            if save == "y":
                # –ó–¥–µ—Å—å –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –ª–æ–≥–∏–∫—É —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è
                print("‚úÖ –†–µ–∑—É–ª—å—Ç–∞—Ç —Å–æ—Ö—Ä–∞–Ω–µ–Ω (—Ñ—É–Ω–∫—Ü–∏–æ–Ω–∞–ª—å–Ω–æ—Å—Ç—å –º–æ–∂–Ω–æ —Ä–∞—Å—à–∏—Ä–∏—Ç—å)")


# –†–∞—Å–∫–æ–º–º–µ–Ω—Ç–∏—Ä—É–π—Ç–µ –¥–ª—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è:
interactive_test()

In [22]:
# –Ø—á–µ–π–∫–∞ 12: –û—Ç–ª–∞–¥–∫–∞ –∏ –ª–æ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ
import datetime


def debug_query(user_query, schema_data=DB_SCHEMA):
    """
    –†–∞—Å—à–∏—Ä–µ–Ω–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –æ—Ç–ª–∞–¥–∫–∏ —Å –ø–æ–¥—Ä–æ–±–Ω—ã–º –ª–æ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ–º
    """
    print(f"üîß [DEBUG] –ù–∞—á–∞–ª–æ –æ–±—Ä–∞–±–æ—Ç–∫–∏: {datetime.datetime.now()}")
    print(f"üìù –ò—Å—Ö–æ–¥–Ω—ã–π –∑–∞–ø—Ä–æ—Å: {user_query}")

    # –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –ø—Ä–æ–º–ø—Ç–∞
    system_prompt, prompt = generate_prompt(user_query, schema_data)
    print(f"üìã –î–ª–∏–Ω–∞ system_prompt: {len(system_prompt)} —Å–∏–º–≤–æ–ª–æ–≤")
    print(f"üìã –î–ª–∏–Ω–∞ prompt: {len(prompt)} —Å–∏–º–≤–æ–ª–æ–≤")

    # –í—ã–∑–æ–≤ LLM
    combined_prompt = f"{system_prompt}\n\n{prompt}"
    print("ü§ñ –í—ã–∑–æ–≤ YandexGPT...")
    llm_response = yandex_gpt_query(combined_prompt)

    print(f"üì° –°—Ç–∞—Ç—É—Å –æ—Ç–≤–µ—Ç–∞: {llm_response['status']}")
    if llm_response["status"] == "success":
        print(f"üìÑ –î–ª–∏–Ω–∞ –æ—Ç–≤–µ—Ç–∞: {len(llm_response['answer'])} —Å–∏–º–≤–æ–ª–æ–≤")
        print(f"üìÑ –û—Ç–≤–µ—Ç LLM: {llm_response['answer'][:500]}...")
    else:
        print(f"‚ùå –û—à–∏–±–∫–∞: {llm_response['error']}")

    # –û–±—Ä–∞–±–æ—Ç–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
    result = natural_language_to_sql(user_query, schema_data)
    print(f"üéØ –ö–æ–Ω–µ—á–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:")
    print(f"   SQL: {result['sql']}")
    print(f"   –û—à–∏–±–∫–∞: {result['error_description']}")

    return result


# –ü—Ä–∏–º–µ—Ä –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –æ—Ç–ª–∞–¥–∫–∏
debug_result = debug_query("–ü–æ–∫–∞–∂–∏ –≤—Å–µ –ø—Ä–æ–¥—É–∫—Ç—ã –¥–æ—Ä–æ–∂–µ 500 —Ä—É–±–ª–µ–π")

üîß [DEBUG] –ù–∞—á–∞–ª–æ –æ–±—Ä–∞–±–æ—Ç–∫–∏: 2025-10-11 16:39:52.275675
üìù –ò—Å—Ö–æ–¥–Ω—ã–π –∑–∞–ø—Ä–æ—Å: –ü–æ–∫–∞–∂–∏ –≤—Å–µ –ø—Ä–æ–¥—É–∫—Ç—ã –¥–æ—Ä–æ–∂–µ 500 —Ä—É–±–ª–µ–π
üìã –î–ª–∏–Ω–∞ system_prompt: 3163 —Å–∏–º–≤–æ–ª–æ–≤
üìã –î–ª–∏–Ω–∞ prompt: 562 —Å–∏–º–≤–æ–ª–æ–≤
ü§ñ –í—ã–∑–æ–≤ YandexGPT...
üì° –°—Ç–∞—Ç—É—Å –æ—Ç–≤–µ—Ç–∞: success
üìÑ –î–ª–∏–Ω–∞ –æ—Ç–≤–µ—Ç–∞: 85 —Å–∏–º–≤–æ–ª–æ–≤
üìÑ –û—Ç–≤–µ—Ç LLM: ```
{"sql": "SELECT * FROM products WHERE price > 500;", "error_description": ""}
```...
üéØ –ö–æ–Ω–µ—á–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:
   SQL: SELECT * FROM products WHERE price > 500;
   –û—à–∏–±–∫–∞:

In [23]:
# –Ø—á–µ–π–∫–∞ 13: –≠–∫—Å–ø–æ—Ä—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
def export_results(results, filename="dwh_assistant_results.json"):
    """
    –≠–∫—Å–ø–æ—Ä—Ç–∏—Ä—É–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è –≤ JSON —Ñ–∞–π–ª
    """
    export_data = []
    for query, result in results:
        export_data.append(
            {
                "query": query,
                "sql": result["sql"],
                "error_description": result["error_description"],
                "timestamp": datetime.datetime.now().isoformat(),
            }
        )

    with open(filename, "w", encoding="utf-8") as f:
        json.dump(export_data, f, ensure_ascii=False, indent=2)

    print(f"‚úÖ –†–µ–∑—É–ª—å—Ç–∞—Ç—ã —ç–∫—Å–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤ {filename}")


# –≠–∫—Å–ø–æ—Ä—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ (—Ä–∞—Å–∫–æ–º–º–µ–Ω—Ç–∏—Ä—É–π—Ç–µ –ø—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏)
export_results(all_results)

‚úÖ –†–µ–∑—É–ª—å—Ç–∞—Ç—ã —ç–∫—Å–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤ dwh_assistant_results.json